Cython
decord
ipympl
heartpy
jupyterlab
ipykernel
librosa
matplotlib
msgpack
neurokit2
numpy
opencv-contrib-python
openpyxl
pandas
pylsl
pyQt5
pyxdf
pyYAML
requests
rpy2
scikit-image
scikit-learn
scipy
seaborn
statannotations
statannot
sympy
systole
tabulate
tqdm
xlrd

